:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: fit-content;
  border: 1px solid white;
}

.main-page {
  display: flex;
  gap: 2rem;
}

.dashboard {
  display: flex;
  color: black;
  background-color: gray;
}

.btn-delete {
  width: fit-content;
}
